.Account {

margin-top: 0.5rem;

}

input {

  font-size: inherit;
  width: 4rem;
  height: .48rem;
  margin: 0 0 .47333333rem 0;

  outline: none;
  border: 0;
  color: black;
  border-top: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #8D2428;

}

.text-filed{
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
}


.text-filed input {

}
.box {
  width: 100%;
  font-size: 0.28rem;
}
.Account .register {
  width: 4rem;
}
.forget {

  font-size: inherit;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  height: .48rem;
  margin-left: 0;
  margin-right: 0;
  outline: none;
  border: 0;
  color: #8D2428;

}
.Account .login {
  width: 4rem;
  background-color: black;
  color: white;
  font-weight: bold;
}
.error {
  display: none;
  margin-bottom: 0.2rem;
  font-size: 0.2rem;

}
.active-error {
  display: block;
}
